/* Homepage Styles */
body {
  margin-bottom: 0px;
}
.main-header--hero {
  background-color: #EBFFFA;
}

.slab--green {
  background-color: #EBFFFA;
}

.slab--hero {
  background-color: #EBFFFA;
  background-image: url('/assets/images/homepage-illustration.svg');
  background-repeat: no-repeat;
  background-position: right -2em bottom 0;
  background-size: 350px;
}
@media screen and (min-width: 601px) {
  .slab--hero {
    background-position: right 2em bottom 12em;
    background-size: 400px;
  }
}
@media screen and (min-width: 1000px) {
  .slab--hero {
    background-position: right 2em bottom 7em;
    background-size: 550px;
  }
}
@media screen and (min-width: 1200px) {
  .slab--hero {
    background-position: right 9em bottom 7em;
    background-size: 550px;
  }
}

.index__gov-logos:first-child {
  margin-bottom: 6rem;
}
@media screen and (min-width: 601px) {
  .index__gov-logos:first-child {
    margin-bottom: 0;
  }
}
.index__gov-logos img {
  margin-bottom: 2.5rem;
}


/* Flow styles (mostyl from libraryStyles.css) */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  src: url('/webjars/form-flow/0.0.1/fonts/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'),
  url('/webjars/form-flow/0.0.1/fonts/MaterialIcons-Regular.ttf') format('truetype'),
  url('/webjars/form-flow/0.0.1/fonts/MaterialIcons-Regular.woff') format('woff'),
  url('/webjars/form-flow/0.0.1/fonts/MaterialIcons-Regular.svg') format('svg');
url('/webjars/form-flow/0.0.1/fonts/MaterialIcons-Regular.svg') format('svg');
}

.page-wrapper .form-card, .form-width {
  max-width: 55rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.main-footer {
  position: initial;
  font-weight: normal;
  height: auto;
}

.boxed-content {
  padding: 2.5rem 1rem 2.5rem 1rem;
  margin: 2.5rem auto;
  border: 2px solid #AAAAAA;
  border-radius: 3px;
  max-width: 35rem;
}

.boxed-content hr {
  margin: 2.5rem 0 3rem 0;
}

.subflow-list {
  text-align: left;
}

.subflow-list--bulleted {
  text-align: left;
  padding-left: 3rem;
  list-style: disc;
}

.subflow-list__item {
  position: relative;
  margin-bottom: 1.5em;
}

.subflow-list__subitem {
  font-weight: bold;
  font-size: 16px;
}

.subflow-list__icon {
  position: absolute;
  line-height: 2.5rem;
}

.subflow-list__item-title {
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: 3rem;
}

.subflow-list__item-body {
  margin-left: 3rem;
  font-size: 16px;
}

.subflow-list__item-body__subtitle {
  font-variant: all-small-caps;
  font-size: 14px;
  font-weight: bold;
  color: #5F5854;
}

.subflow-list__item-actions {
  margin-left: 3rem;
  font-size: 16px;
}

.subflow-list__item-actions a:not(:last-child) {
  border-right: 1px solid #CFC5BF;
  padding-right: 2rem;
  margin-right: 2rem;
}

.subflow-list__action-delete,
.subflow-list__action-delete:focus,
.subflow-list__action-delete:hover,
.subflow-list__action-delete:visited,
.subflow-list__action-delete:active {
  color: #D13F00;
}

/* **************************************************************************
 * FORM FLOW LIBRARY STYLES
 * ************************************************************************** */
.reveal a {
  display: flex;
}

.reveal svg {
  align-self: center;
  display: flex;
  margin-right: 10px;
}

.align-with-boxed-content {
  padding: 2.5rem 0;
  margin: auto;
  border-radius: 3px;
  max-width: 35rem;
}
.legal-stuff-header {
  padding: 2.5rem 0 -2.5rem 0;
  margin: auto;
  border-radius: 3px;
  max-width: 35rem;
}

.legal-stuff-window {
  border: 2px solid black;
  height: 35rem;
  overflow-y: scroll;
  padding-right: calc(1.5rem + 12px);
}
.textarea-readonly::-webkit-scrollbar {
  -webkit-appearance: none;
}

.textarea-readonly::-webkit-scrollbar:vertical {
  width: 12px;
}

.textarea-readonly::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.textarea-readonly::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

.notice-container {
  max-width: 55rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.notice-blue {
  background: #E9F6FF;
  border: 1px solid #003865;
  border-radius: 3px;
  position: relative;
  padding: 20px 15px 0 15px;
}

.steps-box {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.steps-box svg {
  flex-shrink: 0;
}

.vertical-steps .notice-blue {
  margin-bottom: -10px;
  margin-top: -10px;
}

.notice-blue .width-one-sixth {
  text-align: center;
}

.vertical-steps:before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  left: 50%;
  background-color: #003964;
}

.email-confirmation-box {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.email-confirmation-box strong {
  color: #00891B;
}

.success-confirmation-box {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.zero-flex-shrink svg{
  flex-shrink: 0;
}
.move-box-left {
  margin-left: -5px;
}

.help--header-spacing {
  margin-top: -35px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

/* Form styles: */
.text-input--inline {
  display: inline-block;
}

.form-width--day,
.form-width--month {
  max-width: calc(4.4rem + 2ch);
  padding: 0 1.5rem;
}

.form-width--year {
  max-width: calc(4.4rem + 4ch);
  padding: 0 2rem;
}

.form-group hr {
  background-color: #121111; /* $color-grey-darkest */
  height: .2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

/*
  *************************************************************************************************
  SCHOOL NAME AUTOCOMPLETE
  *************************************************************************************************
*/
.ui-autocomplete {
  max-height: 260px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  max-width: 90%;
}
.ui-menu .ui-menu-item-wrapper {
  padding: 1.5rem 2.5rem !important;
}

.ui-menu-item {
  border: 1px solid #E6E6E6; !important;
}

.ui-widget-content .ui-state-active {
  background-color: #F7F5F4 !important;
  color: black !important;
  border: 1px solid #E6E6E6 !important;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 100px;
}
.clearable{
  position: relative;
  display: inline-block;
  width: 100% ;
}
.clearable .text-input{
  padding-right: 70px;
}
.clear-input{
  position: absolute;
  right:0; top:0;
  padding: 2rem 2.5rem;
  font-style: normal;
  font-size: 1.2em;
  user-select: none;
  cursor: pointer;
  display: none;
}
.clearable input::-ms-clear {  /* Remove IE default X */
  display: none;
}

/* Helpers */
.font-white {
  color: white;
}

.padding-horizontal-30 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.padding-right-25 {
  padding-right: 2.5rem;
}

.padding-right-10 {
  padding-right: 1rem;
}

.padding-left-25 {
  padding-left: 2.5rem;
}

.spacing-right-0 {
  margin-right: 0;
}

.button--other {
  margin-left: 0;
}
.button--full-width {
  width: 100%;
  text-align: center;
}

/* Address Verification Screen */

.address-validation .radio-button.left-aligned {
  padding-left: 2.5rem;
}

.address-validation .radio-button.is-selected {
  border: 2px #008060 solid;
  border-radius: 5px;
  background-color: unset;
}

.address-validation .radio-button {
  border-radius: 5px;
  border-color: transparent;
}

.address-validation .radio-button:hover {
  border-color: #121111;
}

.hide-radio-circle {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  display: none !important;
}

.address-validation .radio-button div {
  font-weight: normal;
}
/* Icons */
.emoji--grinning-face {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f600.png');
}

.emoji--neutral-face {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f610.png');
}

.emoji--frowning-face {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f641.png');
}

.emoji--thumbs-up {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f44d.png');
}

.emoji--clipboard {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4cb.png');
}

.emoji--page-facing-up {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4c4.png');
}

.emoji--blush {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f60a.png');
}

.emoji--pencil {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/270f.png');
}

.emoji--ok {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f44c.png');
}

.emoji--eggs {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f373.png');
}

.emoji--credit-card {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4b3.png');
}

.emoji--avocado {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f951.png');
}

.emoji--phone {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/260e.png');
}

.emoji--receiver {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4de.png');
}

.emoji--mail {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4eb.png');
}

.emoji--mail-open {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4ec.png');
}

.emoji--bust {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f464.png');
}

.emoji--money {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4b5.png');
}

.emoji--house {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f3e0.png');
}

.emoji--faucet {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f6b0.png');
}

.emoji--dollar-sign {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4b2.png');
}

.emoji--memo {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4dd.png');
}

.emoji--lock {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f512.png');
}

.emoji--to-mobile {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4f2.png');
}

.emoji--carrot {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f955.png');
}

.emoji--backpack {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f392.png');
}

.emoji--money-bag {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4b0.png');
}

.emoji--confused-face {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f914.png');
}

.emoji--fist {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/270a.png');
}

.emoji--stew {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f958.png');
}

.emoji--rice-bowl {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f35a.png');
}

.emoji--salad {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f957.png');
}

.emoji--finger-down {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f447.png');
}

.emoji--star {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f31f.png');
}

.emoji--earth {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f30e.png');
}

.emoji--farmer-female {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f469-1f33e.png');
}

.emoji--construction-worker {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f477.png');
}

.emoji--older-woman {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/older-woman.png');
}

.emoji--older-man {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/older-man.png');
}

.emoji--disabled {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/267f.png');
}

.emoji--fast-disabled {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/fast_disability.png');
}

.emoji--briefcase {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4bc.png');
}

.emoji--pill {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f48a.png');
}

.emoji--baby {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f476.png');
}

.emoji--checkmark {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/checkmark.png');
}

.emoji--crossmark {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/crossmark.png');
}

.emoji--student-woman {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f469-1f393.png');
}

.emoji--student-man {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f468-1f393.png');
}

.emoji--student-hat {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f393.png');
}

.emoji--warning {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/26a0.png');
}

.emoji--car {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f697.png');
}

.emoji--map {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f5fa.png');
}

.emoji--woman-detective-medium-dark-skin-tone {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f575-1f3fe-2640.png');
}

.emoji-pair--jobs {
  background-image: url('/webjars/form-flow/0.0.1/images/emoji_pairs/emoji_jobs.png');
}

.emoji-pair--dependent_care {
  background-image: url('/webjars/form-flow/0.0.1/images/emoji_pairs/emoji_dependent_care.png');
}

.emoji--fountain-pen {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/pen.png');
}

.emoji--ambulance {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f691.png');
}

.emoji-pair--self-employed {
  background-image: url('/webjars/form-flow/0.0.1/images/emoji_pairs/emoji_self_employed.png');
}

.emoji-pair--disabled-money {
  background-image: url('/webjars/form-flow/0.0.1/images/emoji_pairs/emoji_ssi_ssp.png');
}

.emoji-pair--fast-disabled-money {
  background-image: url('/webjars/form-flow/0.0.1/images/emoji_pairs/emoji_ssi_fast_ssp.png');
}

.emoji-pair--older-man-and-woman {
  background-image: url('/webjars/form-flow/0.0.1/images/emoji_pairs/emoji_older_man_and_woman.png');
}

.emoji-pair--students {
  background-image: url('/webjars/form-flow/0.0.1/images/emoji_pairs/emoji_students.png');
}

.accordion__button::after {
  background-image: url("/webjars/form-flow/0.0.1/images/icon_accordion_close.svg");
}

.accordion--is-closed .accordion__button::after {
  background-image: url("/webjars/form-flow/0.0.1/images/icon_accordion_open.svg");
}

.icon-home::before {
  content: '\e88a';
}

.language-select .select {
  background: transparent;
}

.language-select select {
  border: none;
  font-weight: bold;
  font-size: 1.6rem;
}

.inline-button-icon {
  padding-right: 10px;
}

.income-flow-job-name {
  padding-bottom: 7px;
  border-bottom: 2px solid #CFC5BF; /* grey */
  font-weight: 700;
  font-size: 19px;
  line-height: 25px;
  font-variant: all-small-caps;
  color: #5F5854; /* grey-dark */
}
