# Run every day at 7pm GMT/Noon PDT
0 19 * * * java -jar /opt/form-flow-starter-app/app.jar -Dspring.main.web-application-type=NONE checkForUnsubmittedDocs

# Run every day at 5pm PDT
0 0 * * * java -jar /opt/form-flow-starter-app/app.jar -Dspring.main.web-application-type=NONE transmit
