# Run every day Noon PDT
0 12 * * * java -jar /opt/form-flow-starter-app/app.jar checkForUnsubmittedDocs

# Run every day at 5pm PDT
0 0 * * * java -jar /opt/form-flow-starter-app/app.jar -Dspring.main.web-application-type=NONE transmit
