<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block
    th:fragment="combobox"
    th:with="
      hasError=${
        errorMessages != null &&
        errorMessages.get(inputName) != null &&
        (#arrays.length(errorMessages.get(inputName)) > 0) },
      hasAriaLabel=${!#strings.isEmpty(label)},
      hasHelpText=false,
      hasCustomOptionTemplate=${!#strings.isEmpty(customOptionTemplate)},
      defaultValue=${#strings.isEmpty(defaultValue) ? '' : defaultValue},
      value=${fieldData.getOrDefault(inputName, defaultValue)}"
    th:assert="
      ${!#strings.isEmpty(inputName)},
      ${!#strings.isEmpty(label)}">

  <link rel="stylesheet" href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css" />
  <script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
  <script src="/assets/js/combobox.js"></script>
  <script th:inline="javascript">
    window.schools = [[${T(org.homeschoolpebt.app.utils.SchoolListUtilities).schoolsForCombobox()}]];
  </script>
  <script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
      var inputName = [[${inputName}]];
      var hasCustomOptionTemplate = [(${hasCustomOptionTemplate})];

      $("#combobox").combobox({
        data: window.schools,
        clearInput: '#clear-combobox',
        valueField: '[name="' + inputName + '"]',
        customOption: hasCustomOptionTemplate ? function(value) { return `[(${customOptionTemplate})]`; } : null,
      });
    });
  </script>

  <div th:class="'form-group' + ${(hasError ? ' form-group--error' : '')}">
    <label th:text="${label}" th:for="${inputName}" class="form-question"></label>
    <span class="clearable">
      <input type="hidden" th:name="${inputName}" th:value="${value}">
      <input type="text" class="text-input ui-autocomplete-input"
             th:id="combobox"
             th:attr="
             aria-describedby=${hasHelpText ? inputName + '-help-text' : ''},
             aria-labelledby=${hasAriaLabel ? ariaLabel : ''},
             aria-invalid=${hasError},
             aria-autocomplete=${'list'}">
      <i class="icon-close clear-input" id="clear-combobox"></i>
    </span>
    <th:block
        th:replace="~{fragments/inputError :: validationError(inputName=${inputName})}"></th:block>
  </div>
</th:block>
</body>
</html>
