<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{how-this-works.how-this-works})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: prepareToApply}"></th:block>
        <th:block
            th:replace="~{'fragments/cardHeader' :: cardHeader(header=#{how-this-works.how-this-works}, subtext=#{how-this-works.this-application-form})}"/>

        <div class="boxed-content spacing-below-60">
          <p class="text--centered"><strong th:text="#{how-this-works.steps-title}"></strong></p>
          <th:block th:utext="#{how-this-works.steps-list}"></th:block>
        </div>

        <div class="notice--warning notice-container spacing-below-25" th:utext="#{how-this-works.notice-text}"></div>

        <div class="form-card__footer">
          <th:block th:replace="~{'fragments/continueButton' :: continue}"/>
          <div>
            <i class="icon-lock_outline"></i>
            <span th:utext="#{how-this-works.your-info-is-secure}"></span>
          </div>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
