<!DOCTYPE html>
<th:block th:with="messageVariant=${inputData.getOrDefault('isApplyingForSelf', 'false') == 'true' ? 'individual' : 'multiple'}">
  <th:block th:with="title=${messageVariant == 'individual' ? #messages.msg('income-job-name.title.individual') : #messages.msgWithParams('income-job-name.title.multiple', fieldData.get('incomeMember'))}">
    <html th:lang="${#locale.language}">
    <head th:replace="~{fragments/head :: head(title=${title})}"></head>
    <body>
    <div class="page-wrapper">
      <div th:replace="~{fragments/toolbar :: toolbar}"></div>
      <section class="slab">
        <div class="grid">
          <div th:replace="~{fragments/goBack :: goBackLink}"></div>
          <main id="content" role="main" class="form-card spacing-above-35">
            <th:block th:replace="~{'fragments/icons' :: briefcaseGreen}"/>
            <th:block
                th:replace="~{'fragments/cardHeader' :: cardHeader(header=${title}, subtext=#{income-job-name.subtext})}"/>
            <th:block
                th:replace="~{'fragments/form' :: form(action=${formAction}, content=~{::formContent})}">
              <th:block th:ref="formContent">
                <!-- TODO: Single applicant case -->
                <div class="form-card__content">
                  <th:block th:replace="~{'fragments/inputs/text' ::
                  text(
                    inputName='incomeJobName',
                    ariaLabel='header'
                  )}"/>
                  <div class="form-card__footer">
                    <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                  text=#{general.inputs.continue})}"/>
                  </div>
                </div>
              </th:block>
            </th:block>
          </main>
        </div>
      </section>
    </div>
    <th:block th:replace="~{fragments/footer :: footer}"/>
    </body>
    </html>
  </th:block>
</th:block>
