<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{income-review.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{'fragments/icons' :: householdFamilyIncome}"/>
        <th:block th:replace="~{'fragments/cardHeader' :: cardHeader(header=#{income-review.title}, subtext=#{income-review.subtext})}"/>
        <div class="form-card__content">
          <div class="boxed-content text--centered">
            <strong th:text="#{income-review.box-title}"></strong>
            <ul class="subflow-list">
              <li th:each="incomeItem, iter: ${T(org.homeschoolpebt.app.utils.SubmissionUtilities).getHouseholdIncomeReviewItems(submission)}" class="subflow-list__item">
                <th:block th:if="${incomeItem.get('itemType').equals('job')}">
                  <i th:if="${!incomeItem.combineWithPrevious}" class="subflow-list__icon icon-person-outline"></i>
                  <div th:if="${!incomeItem.combineWithPrevious}" class="subflow-list__item-title">
                    <span th:text="${incomeItem.name}"></span>
                    <span th:if="${incomeItem.isApplicant}" th:text="#{income-review.thats-you}"></span>
                  </div>

                  <div class="subflow-list__item-body">
                    <div class="subflow-list__item-body__subtitle" th:text="${incomeItem.jobName}"></div>
                    <div><strong th:text="${incomeItem.income}"></strong></div>
                    <span th:text="${#messages.msg('income-review.income-types.' + incomeItem.incomeType)}"></span>
                  </div>

                  <div class="subflow-list__item-actions">
                    <a th:href="'/flow/pebt/' + ${iterationStartScreen} + '/' + ${incomeItem.uuid} + '/edit'"
                       th:text="#{income-review.edit-job}"
                       th:id="'edit-iteration-' + ${incomeItem.uuid}">
                    </a><a th:href="'/flow/pebt/income/' + ${incomeItem.uuid} + '/deleteConfirmation'"
                           th:text="#{income-review.delete-job}"
                           class="subflow-list__action-delete"
                           th:id="'delete-iteration-' + ${incomeItem.uuid}"></a>
                  </div>
                </th:block>

                <th:block th:if="${incomeItem.get('itemType').equals('no-jobs-added')}">
                  <i th:if="${!incomeItem.combineWithPrevious}" class="subflow-list__icon icon-person-outline"></i>
                  <div class="subflow-list__item-title">
                    <span th:text="${incomeItem.name}"></span>
                    <span th:if="${incomeItem.isApplicant}" th:text="#{income-review.thats-you}"></span>
                  </div>

                  <div class="subflow-list__item-body">
                    <span th:text="#{income-review.no-jobs-added}"></span>
                  </div>
                </th:block>

                <th:block th:if="${incomeItem.get('itemType').equals('household-total')}">
                  <hr>

                  <span class="subflow-list__icon">
                    <th:block th:replace="~{'fragments/icons' :: iconHouseOutlineTiny}"/>
                    </span>
                  <div class="subflow-list__item-title">
                    <span th:text="#{income-review.total-monthly-pay}"></span>
                  </div>

                  <div class="subflow-list__item-body">
                    <div><strong th:text="${incomeItem.income}"></strong></div>
                  </div>
                </th:block>
              </li>
            </ul>

            <a class="button button--other" href="/flow/pebt/incomeChooseHouseholdMember" th:text="#{income-review.add-income}"></a>
          </div>
          <th:block th:replace="~{'fragments/honeycrisp/reveal' :: reveal(
                linkLabel=~{::revealLabel},
                content=~{::revealContent})}">
            <th:block th:ref="revealLabel">
              <th:block th:text="#{income-review.reveal-label}"></th:block>
            </th:block>
            <th:block th:ref="revealContent">
              <p>
                <strong th:text="#{income-review.reveal-contents.section1.header}"></strong>
              </p>
              <p th:utext="#{income-review.reveal-contents.section1.p1}"></p>
              <p th:text="#{income-review.reveal-contents.section1.p2}"></p>
              <p>
                <em th:text="#{income-review.reveal-contents.section1.p3}"></em>
              </p>
              <p>
                <strong th:text="#{income-review.reveal-contents.section2.header}"></strong>
              </p>
              <p th:utext="#{income-review.reveal-contents.section2.p1}"></p>
              <p th:text="#{income-review.reveal-contents.section2.p2}"></p>
              <p>
                <em th:text="#{income-review.reveal-contents.section2.p3}"></em>
              </p>
              <ul class="list--bulleted">
                <li><em th:text="#{income-review.reveal-contents.section2.li1}"></em></li>
                <li><em th:text="#{income-review.reveal-contents.section2.li2}"></em></li>
                <li><em th:text="#{income-review.reveal-contents.section2.li3}"></em></li>
                <li><em th:text="#{income-review.reveal-contents.section2.li4}"></em></li>
              </ul>
            </th:block>
          </th:block>
        </div>
        <div class="form-card__footer">
          <a
            th:href="'/flow/' + ${flow} + '/' + ${screen} + '/navigation'"
            class="button button--primary"
            id="continue-link">
            <i class="icon-check"></i>
            <span class="padding-right-10" th:text="#{income-review.continue-button}"></span>
          </a>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
