<!--
to do
- [X] Inline the template
- [X] Change the icon
- [ ] Add job name to top of page
- [ ] Ensure the title is right
- [ ] Ensure the title help text is right
- [ ] Ensure the 2nd question title is right
- [ ] Ensure the 2nd question help text is right
- [ ] Add reveal
- [ ] Decide where "They get paid in a different way" will go in this PR
- [ ] Add "They get paid in a different way" link going there
-->
<th:block
    th:with="
      messageVariant=${inputData.getOrDefault('isApplyingForSelf', 'false') == 'true' ? 'self' : 'multiple'},
      lastMonth=${T(org.homeschoolpebt.app.utils.SubmissionUtilities).getLastMonth(submission)},
      firstName=${currentSubflowItem.incomeMember},
      hasIconName=${!#strings.isEmpty(iconName)},
      title=${#messages.msg('income-hourly-wage-calculator.title.' + messageVariant, firstName)},
      header=${#messages.msg('income-hourly-wage-calculator.title.' + messageVariant, firstName)},
      subtext=#{income-hourly-wage-calculator.subtext},
      iconName='moneyTips',
      formAction=${formAction},
      inputContent=~{::inputContent},
      buttonLabel=#{general.inputs.continue}">
  <!DOCTYPE html>
  <html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head(title=${title})}"></head>
  <body>
  <div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
      <div class="grid">
        <div th:replace="~{fragments/goBack :: goBackLink}"></div>
        <main id="content" role="main" class="form-card spacing-above-35">
          <div class="income-flow-job-name spacing-below-35" th:text="${fieldData.incomeJobName}"></div>
          <th:block th:replace="~{'fragments/icons' :: ${iconName}}" />
          <th:block
              th:replace="~{fragments/cardHeader :: cardHeader(header=${header}, subtext=${subtext})}"/>
          <th:block
              th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
            <th:block th:ref="formContent">
              <div class="form-card__content">
                <th:block th:ref="inputContent">
                  <th:block th:replace="~{'fragments/inputs/money' :: money(inputName='incomeHourlyWage', ariaLabel='header', placeholder='0.00 / hour')}"/>
                  <th:block th:replace="~{'fragments/inputs/number' :: number(inputName='incomeHoursPerWeek', label=#{income-hourly-wage-calculator.hours-per-week-title}, helpText=#{income-hourly-wage-calculator.hours-per-week-help-text(${lastMonth})}, placeholder='10 hours per week')}"/>
                  <!-- TODO: Add "What if their pay changes often?" reveal -->
                  <input type="hidden" name="incomeCalculationMethod" value="hourlyWage" />
                  <!-- TODO: Add "I get paid in a different way" button -->
                </th:block>
            </th:block>
              </div>
              <div class="form-card__footer">
                <th:block
                    th:replace="~{fragments/inputs/submitButton :: submitButton(text=${buttonLabel != null ? buttonLabel : 'Submit'})}"/>
              </div>
            </th:block>
          </th:block>
        </main>
      </div>
    </section>
  </div>
  <th:block th:replace="~{fragments/footer :: footer}"/>
  </body>
  </html>
</th:block>
