<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{income-review.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{'fragments/cardHeader' :: cardHeader(header=#{income-review.title}, subtext=#{income-review.subtext})}"/>
        <div class="form-card__content">
          <div class="boxed-content text--centered">
            <strong th:text="#{income-review.box-title}"></strong>
            <ul class="subflow-list">
              <li th:each="incomeItem, iter: ${T(org.homeschoolpebt.app.utils.SubmissionUtilities).getHouseholdIncomeReviewItems(submission)}" class="subflow-list__item">
                <th:block th:if="${incomeItem.get('itemType').equals('job')}">
                  <i th:if="${!incomeItem.combineWithPrevious}" class="subflow-list__icon icon-person"></i>
                  <div th:if="${!incomeItem.combineWithPrevious}" class="subflow-list__item-title">
                    <span th:text="${incomeItem.name}"></span>
                    <span th:if="${incomeItem.isApplicant}" th:text="#{income-review.thats-you}"></span>
                  </div>

                  <div class="subflow-list__item-body">
                    <div class="subflow-list__item-body__subtitle" th:text="${incomeItem.jobName}"></div>
                    <div><strong th:text="${incomeItem.income}"></strong></div>
                    <span th:text="${#messages.msg('income-review.income-types.' + incomeItem.incomeType)}"></span>
                  </div>

                  <div class="subflow-list__item-actions">
                    <a th:href="'/flow/pebt/' + ${iterationStartScreen} + '/' + ${incomeItem.uuid} + '/edit'"
                       th:text="#{general.edit}"
                       th:id="'edit-iteration-' + ${incomeItem.uuid}">
                    </a><a th:href="'/flow/pebt/income/' + ${incomeItem.uuid} + '/deleteConfirmation'"
                           th:text="#{general.delete}"
                           class="subflow-list__action-delete"
                           th:id="'delete-iteration-' + ${incomeItem.uuid}"></a>
                  </div>
                </th:block>

                <th:block th:if="${incomeItem.get('itemType').equals('no-jobs-added')}">
                  <i th:if="${!incomeItem.combineWithPrevious}" class="subflow-list__icon icon-person"></i>
                  <div class="subflow-list__item-title">
                    <span th:text="${incomeItem.name}"></span>
                    <span th:if="${incomeItem.isApplicant}" th:text="#{income-review.thats-you}"></span>
                  </div>

                  <div class="subflow-list__item-body">
                    <span th:text="#{income-review.no-jobs-added}"></span>
                  </div>
                </th:block>

                <th:block th:if="${incomeItem.get('itemType').equals('household-total')}">
                  <hr>

                  <i class="subflow-list__icon icon-home"></i>
                  <div class="subflow-list__item-title">
                    <span th:text="#{income-review.total-monthly-pay}"></span>
                  </div>

                  <div class="subflow-list__item-body">
                    <div><strong th:text="${incomeItem.income}"></strong></div>
                  </div>
                </th:block>
              </li>
            </ul>

            <a class="button button--other" href="/flow/pebt/incomeChooseHouseholdMember" th:text="#{income-review.add-income}"></a>
          </div>
        </div>
        <div class="form-card__footer">
          <th:block th:replace="~{'fragments/continueButton' :: continue(text=#{income-review.continue-button})}"/>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
