<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{income-unearned-amounts.title})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{'fragments/icons' :: cash}"></th:block>
        <th:block th:replace="~{'fragments/cardHeader' :: cardHeader(header=#{income-unearned-amounts.title}, subtext=#{income-unearned-amounts.subtext})}"/>
        <th:block th:replace="~{'fragments/form' :: form(action=${formAction}, content=~{::incomeAmounts})}">
          <div th:ref="incomeAmounts">
            <div class="form-card__content">
              <th:block th:each="incomeType: ${inputData.get('incomeUnearnedRetirementTypes[]')}">
                <th:block th:if="${incomeType != 'none'}">
                  <th:block th:with="customHelpText=${#messages.msgOrNull('income-unearned-amounts.help-text.' + incomeType)}">
                    <th:block th:text="${#messages.msgOrNull('income-unearned-amounts.help-text.' + incomeType)}"></th:block>
                    <th:block
                      th:replace="~{'fragments/inputs/money' :: money(
                      inputName=${incomeType + 'Amount'},
                      label=#{'income-shared.' + ${incomeType}},
                      helpText=${customHelpText == null ? #messages.msg('income-amounts.monthly') : customHelpText})}"
                      placeholder="$0.00"
                    />
                  </th:block>
                </th:block>
              </th:block>
              <th:block th:each="incomeType: ${inputData.get('incomeUnearnedTypes[]')}">
                <th:block th:if="${incomeType != 'none'}">
                  <th:block th:with="customHelpText=${#messages.msgOrNull('income-unearned-amounts.help-text.' + incomeType)}">
                    <th:block
                      th:replace="~{'fragments/inputs/money' :: money(
                      inputName=${incomeType + 'Amount'},
                      label=#{'income-shared.' + ${incomeType}},
                      helpText=${customHelpText == null ? #messages.msg('income-amounts.monthly') : customHelpText})}"
                      placeholder="$0.00"
                    />
                  </th:block>
                </th:block>
              </th:block>
              <th:block th:replace="~{'fragments/inputs/textArea' :: textArea(
                  inputName='incomeUnearnedDescription',
                  label=#{income-unearned-amounts.description-label},
                  helpText=#{income-unearned-amounts.description-help-text}
                )}"/>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
            </div>
          </div>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
