<th:block th:with="
  messageVariant=${inputData.getOrDefault('isApplyingForSelf', 'false') == 'true' ? 'self' : 'multiple'},
  lastMonth=${T(org.homeschoolpebt.app.utils.SubmissionUtilities).getLastMonth(submission)},
  firstName=${currentSubflowItem.incomeMember}
">
  <!-- TODO: Fix copy to include proper calculations!!! -->
  <th:block th:replace="~{'fragments/screens/screenWithOneInput' :: screenWithOneInput(
    title=${#messages.msg('income-will-be-less.title.' + messageVariant, firstName)},
    header=${#messages.msg('income-will-be-less.title.' + messageVariant, firstName)},
    subtext=#{income-will-be-less.subtext('TODO', 'TODO')},
    iconName='documentsSearch',
    formAction=${formAction},
    inputContent=~{::inputContent},
    buttonLabel=#{general.inputs.continue}
  )}">
    <th:block th:ref="inputContent">
      <!-- TODO: Add "How did you calculate this?" reveal -->
      <th:block th:replace="~{'fragments/inputs/radioFieldset' :: radioFieldset(
        inputName='incomeWillBeLess',
        ariaLabel='header',
        content=~{::radioContent}
      )}">
        <th:block th:ref="radioContent">
          <th:block th:replace="~{'fragments/inputs/radio' :: radio(inputName='incomeWillBeLess', value='true', label=#{general.inputs.yes})}"/>
          <th:block th:replace="~{'fragments/inputs/radio' :: radio(inputName='incomeWillBeLess', value='false', label=#{general.inputs.no})}"/>
        </th:block>
      </th:block>

      <!-- TODO: Put this into a reveal that only shows when "yes" is selected -->
      <th:block th:replace="~{'fragments/inputs/textArea' :: textArea(
        inputName='incomeWillBeLessDescription',
        label=#{income-will-be-less.description-label},
        helpText=#{income-will-be-less.description-help-text}
      )}"/>
    </th:block>
  </th:block>
</th:block>