<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{income-complete.header})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <div class="form-card__content text--centered">
          <th:block th:replace="~{'fragments/icons' :: success}"></th:block>
          <th:block th:replace="~{'fragments/cardHeader' :: cardHeader(header=#{income-complete.header}, subtext=#{income-complete.subtext})}"/>
        </div>
        <div class="form-card__footer text--centered spacing-above-95">
          <a
            th:href="'/flow/' + ${flow} + '/' + ${screen} + '/navigation'"
            class="button button--primary"
            id="continue-link">
            <span class="padding-right-10" th:text="#{income-complete.button}"></span>
            <i class="icon-arrow_forward"></i>
          </a>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>

