<th:block th:with="name=${currentSubflowItem.studentFirstName}">
  <th:block
      th:replace="~{fragments/screens/screenWithOneInput :: screenWithOneInput(
        title=#{students-designations.title(${name})},
        header=#{students-designations.title(${name})},
        subtext=#{students-designations.subtext},
        iconName='face',
        formAction=${formAction},
        inputContent=~{::inputContent},
        buttonLabel=#{general.inputs.continue})}">
    <th:block th:ref="inputContent">
      <th:block th:replace="~{'fragments/inputs/checkboxFieldset' ::
      checkboxFieldset(inputName='studentDesignations',
      ariaLabel='header',
      content=~{::checkboxContent})}">
        <th:block th:ref="checkboxContent">
          <th:block
              th:replace="~{'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='studentDesignations', value=#{students-designations.foster-care}, label=#{students-designations.foster-care})}"/>
          <th:block
              th:replace="~{'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='studentDesignations', value=#{students-designations.unhoused}, label=#{students-designations.unhoused})}"/>
          <th:block
              th:replace="~{'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='studentDesignations', value=#{students-designations.child-of-migrant-worker}, label=#{students-designations.child-of-migrant-worker})}"/>
          <th:block
              th:replace="~{'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='studentDesignations', value=#{students-designations.runaway}, label=#{students-designations.runaway})}"/>
          <hr>
          <th:block
              th:replace="~{'fragments/inputs/checkboxInSet' :: checkboxInSet(inputName='studentDesignations', value=#{students-designations.none}, label=#{students-designations.none}, noneOfTheAbove=true)}"/>
        </th:block>
      </th:block>
    </th:block>
  </th:block>