<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="main-footer text--small">
  <div class="grid">
    <div class="grid__item">
      <div class="grid__item width-one-half">
        <p th:utext="#{footer.this-benefits-application-is}"></p>
        <a class="link--subtle" target="_blank" rel="noopener noreferrer" href="/privacy" th:text="#{footer.privacy}"></a><br/>

        <th:block th:if="${#arrays.contains(@environment.getActiveProfiles(), 'demo') || #arrays.contains(@environment.getActiveProfiles(), 'dev')}">
          <a class="link--subtle" target="_blank" rel="noopener noreferrer" th:if="${submission != null}" th:href="'/download/pebt/' + ${submission.getId()}">Download Applicant Summary PDF</a><br/>
          <a class="link--subtle" target="_blank" rel="noopener noreferrer" th:if="${!#strings.isEmpty(screen)}" th:with="transifexKey=${T(org.homeschoolpebt.app.utils.SubmissionUtilities).transifexKeyPrefix(screen)}" th:href="'https://app.transifex.com/code-for-america-1/homeschool-pebt/translate/#en/messages/123?q=key%3A' + ${transifexKey}">Edit on Transifex</a><br/>
        </th:block>
      </div>
      <div class="main-footer__cfa-logo grid__item">
        <a href="/" class="spacing-below-0">
          <img src="/assets/images/getpebt-logo.svg" alt="Get PEBT logo" style="width: 126px;"/>
        </a>
      </div>
    </div>
  </div>
</footer>
</html>
