<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head" th:assert="${!#strings.isEmpty(title)}">
  <link href="/webjars/form-flow/0.0.1/css/honeycrisp.min.css" rel="preload" as="style"/>
  <link href="/webjars/form-flow/0.0.1/css/honeycrisp.min.css" rel="stylesheet"/>
  <link href="/webjars/form-flow/0.0.1/css/customDropzone.css" rel="preload" as="style"/>
  <link href="/webjars/form-flow/0.0.1/css/customDropzone.css" rel="stylesheet"/>
  <link rel="preload" href="/webjars/form-flow/0.0.1/fonts/MaterialIcons-Regular.eot?ia7soh"
        as="font"
        crossorigin="anonymous"/>
  <link rel="preload" href="/webjars/form-flow/0.0.1/fonts/MaterialIcons-Regular.ttf?ia7soh"
        as="font"
        crossorigin="anonymous"/>
  <link rel="preload" href="/webjars/form-flow/0.0.1/js/honeycrisp.min.js" as="script">
  <script src="/webjars/form-flow/0.0.1/js/honeycrisp.min.js"></script>
  <script src="/webjars/form-flow/0.0.1/js/formFlowDropZone.js" async defer></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <title th:text="${title}"></title>
  <link href="/assets/css/custom.css" rel="preload" as="style"/>
  <link href="/assets/css/custom.css" rel="stylesheet"/>
  <script src="/assets/js/starter-app.js" async defer></script>
</head>
</html>