<th:block>
  <!DOCTYPE html>
  <html th:lang="${#locale.language}">
  <head th:replace="~{fragments/head :: head(title=#{index.title})}"></head>
  <body class="template--static-page">
  <div class="page-wrapper">
    <th:block th:replace="~{fragments/toolbar :: toolbar(headerClasses='main-header--hero')}"/>
    <main id="content" role="main" class="spacing-below-0">
      <section class="slab slab--hero">
        <div class="grid">
          <div class="width-one-half">
            <th:block th:if="${applicationsDisabled}">
              <div class="notice notice--warning" th:utext="#{index-applications-disabled.applications-launch}"></div>
            </th:block>
            <h1 class="spacing-below-35 spacing-above-5" th:text="#{index.title}"></h1>
            <th:block th:if="${!applicationsDisabled}">
              <h2 class="h3 spacing-below-15" th:utext="#{index.apply-for-benefits-in-10}"></h2>
            </th:block>
            <p class="text--help" th:text="#{index.official-partner}"></p>
            <div class="spacing-above-35" th:if="${!applicationsDisabled}">
              <a th:href="#{index.apply-now-primary-link}" th:text="#{index.apply-now}" class="button--primary button spacing-below-10"></a>
              <p class="text--help spacing-below-35">
                <i class="icon-lock_outline"></i>
                <span th:text="#{index.safe-and-secure}"></span>
              </p>
            </div>
            <div class="spacing-below-35" th:if="${!applicationsDisabled}">
              <a th:href="#{index.apply-now-secondary-link}" th:text="#{index.apply-now-secondary}"
                 class="button--small button"></a>
            </div>
          </div>
        </div>
      </section>
      <section class="slab slab--white">
        <div class="grid">
          <div class="width-five-twelfths index__gov-logos">
            <div class="text--centered">
              <img src="/assets/images/pebt.svg">
            </div>
            <p th:text="#{index.what-is-pebt}"></p>
          </div>
          <div class="width-five-twelfths shift-one-sixth index__gov-logos">
            <div class="text--centered">
              <img src="/assets/images/cde-logo.png" style="height: 87px; margin-right: 2rem;">
              <img src="/assets/images/cdss-logo.png">
            </div>
            <p th:utext="#{index.we-are-official-we-swear}"></p>
          </div>
        </div>
      </section>
    </main>
  </div>
  <th:block th:replace="~{fragments/footer :: footer}"/>
  </body>
  </html>
</th:block>
