<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%boldCyan(%d{HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %boldMagenta(%logger{36}) - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="JsonConsole" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
      <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
        <prettyPrint>false</prettyPrint>
      </jsonFormatter>
      <appendLineSeparator>true</appendLineSeparator>
      <timestampFormat>yyyy-MM-dd' 'HH:mm:ss</timestampFormat>
    </layout>
  </appender>

  <logger name="org.homeschoolpebt.app.cli.TransmitterCommands" additivity="false" level="info">
    <appender-ref ref="JsonConsole"/>
  </logger>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="org.apache.commons.beanutils" level="INFO" />
</configuration>
